
@use "../../utils/css/colors" as colors;

.terms {
  padding: 4rem 8rem;
  color: colors.$color-blue;

  .list {
    list-style-type: none;
  }

  .title {
    font-size: 2.5rem;
    color: colors.$color-blue;
    margin-left: 45px;
  }

  .subtitle {
    font-size: 2rem;
    font-weight: bold;
    color: colors.$color-blue;
  }

  .content {
    padding-bottom: 1px;
    font-size: 1.5rem;
    color: colors.$color-blue;
  }
}
