.terms{
    padding: 4rem 8rem;
    color: rgb(12, 23, 79);

    .list{
        list-style-type: none;
    }
    
    .title{
        font-size: 2.5rem;
        color: rgb(12, 23, 79);
        margin-left: 45px;
    }

    .subtitle{
        font-size: 2rem;
        font-weight: bold;
        color: rgb(12, 23, 79);
    }

    .content{
        padding-bottom: 1px;
        font-size: 1.5rem;
        color: rgb(12, 23, 79);
    }
}