  @use "../../utils/css/colors" as colors;
  @use "../../utils/css/fonts" as fonts;

.con{
  padding-top: 10px;
  margin-left: 100px;
}

.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  border-radius: 4px;
  color: colors.$color-white;
  margin-bottom: 10px;
}

.box {
  background: linear-gradient(
    90deg,
    colors.$color-gradback1,
    colors.$color-gradback2,
    colors.$color-gradback3,
   
  );
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 2em;
  border: 1px solid colors.$color-orange-light;
  max-width: 1200px;
}


.title {
  font-size: fonts.$font-medium;
  padding: 10px 0;
  color: colors.$color-text-primary;
}

@media (max-width: 768px) {
  .title {
    font-size: fonts.$font-small;
  }

  .box {
    padding: 2rem;
    margin-right: 15px;
  }

  .list {
    padding: 10px 14px;
  }

  .buttonWrapper {
    justify-content: center;
  }
  
.con{
 
  margin-left: 0px;
}
}

