@use "../../utils/css/colors" as colors;

.pageWrapper {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.storyCard {
  border: 2px solid colors.$color-blue;
  background: linear-gradient(
    to right,
    colors.$color-blue 10%,
    colors.$color-white 10%,
    colors.$color-blue-light-light 100%
  );
  border-radius: 20px;
  box-shadow: 0 4px 8px colors.$color-box-shadow;
  width: 900px;
  height: auto;
  overflow: hidden;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.storyImage {
  width: 85%;
  max-height: 250px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: colors.$color-white;
  margin-left: 75px;
}

.img {
  width: 75px;
  height: 70px;
  background-color: colors.$color-blue;
  transition: width 0.3s ease-in-out;
}

.storyContent {
  padding-left: 100px;
}

.storyTitle {
  font-weight: bold;
  color: colors.$color-blue;
}

.link {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: colors.$color-blue;
  margin-right: 20px;
  margin-bottom: 5px;
  margin-top: 40px;
}
