.container {
  background-color: rgb(215, 211, 206);
  display: flex;
  justify-content: center;
  height: 90vh;
  align-items: center;
  flex-direction: column;

  .loggin{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding-bottom: 20px;
    color: rgb(12, 23, 79);
  }

  .label{
    font-size: 1.2rem;
    color: rgb(12, 23, 79);
  }

  .button {
    background: linear-gradient(to right, 
    rgb(251, 246, 233) 0%,
    rgb(212, 202, 187) 100%
 );
    color: #07600a; 
    padding: 10px 20px;
    border: 2px solid green;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
  
    &:hover {
      background: linear-gradient(to right, 
      rgb(250, 241, 217) 0%,
      rgb(211, 197, 174) 100%
   );
    }
  }
  .register {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 40px;
    color: white;
    background-color: rgba(3, 14, 72, 0.5); 
    border-radius: 10px;             
    box-shadow: 0 1px 1px rgba(5, 1, 67, 0.7); 
    max-width: 400px;                   
    margin-top: 30px; 
    margin-bottom: 60px;                  
    text-align: center;                
  }
  
  .link {
    text-decoration: underline;
    padding-left: 0;                  
    color: #fdc50e;                    
    font-size: 1.5rem;
    font-weight: 100;
    cursor: pointer;
    display: inline-block;
    margin-top: 10px;                   
  }
  
  .link:hover {
    color: #f9d964;                       
  }

  @media (max-width: 698px) {
    .form{
    margin-left: 40px;
    margin-right: 40px;
    }
   }

   @media (max-width: 480px) {
    .form{
    margin-left: 40px;
    margin-right: 40px;
    }
    .register{
      margin-left: 50px;
      margin-right: 50px;
      font-size: 1.3rem;
    }
    .link{
      font-size: 1.2rem;
    }
   }
}
