@use "../../utils/css/colors" as colors;
@use "../../utils/css/fonts" as fonts;

.container {
  background-color: colors.$color-background-light;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  align-items: center;
  padding-top: 10px;

  .loggin {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: fonts.$font-big;
    padding-bottom: 20px;
    color:colors.$color-blue;
  }

  .label {
    font-size: fonts.$font-medium;
    color: colors.$color-blue;
  }

  .register {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: fonts.$font-medium;
    padding: 20px 60px;
    color: colors.$color-white;
    border-radius: 10px;
    box-shadow: 0 1px 1px colors.$color-box-shadow;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    white-space: nowrap;
    max-width: 650px;
  }

  .link {
    text-decoration: underline;
    padding: 5px;
    background: linear-gradient(
    90deg,
    rgba(202, 152, 60, 0.3),   
    rgba(246, 201, 147, 0.3),   
    rgba(245, 238, 221, 0.3)    
  );
  backdrop-filter: blur(5px); 
  border: 1px solid rgba(255, 255, 255, 0.2); 
    color: colors.$color-white;
    font-size: fonts.$font-medium;
    font-weight: 100;
    cursor: pointer;
    display: inline-block;
  }

  .link:hover {
    background: linear-gradient(
    90deg,
    colors.$color-orange,   
    colors.$color-orange-light,   
    colors.$color-btn-secondary    
  );
  color: colors.$color-btn-text;
  }

  @media (max-width: 698px) {
    .form {
      margin-left: 40px;
      margin-right: 40px;
    }
  }

  @media (max-width: 480px) {
    .register {
      margin-left: 50px;
      margin-right: 50px;
      font-size:  fonts.$font-small;
    }
    .link {
      font-size:  fonts.$font-small;
    }
  }
}
