@use "../../utils/css/colors" as colors;

.container {
  background-color: colors.$color-background-light;
  display: flex;
  justify-content: center;
  height: 90vh;
  align-items: center;
  flex-direction: column;

  .loggin {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    padding-bottom: 20px;
    color:colors.$color-blue;
  }

  .label {
    font-size: 1.7rem;
    color: colors.$color-blue;
  }

  .register {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
    align-items: center;
    font-weight: bold;
    padding: 20px 60px;
    color: colors.$color-white;
    background-color: colors.$color-blue;
    border-radius: 10px;
    box-shadow: 0 1px 1px colors.$color-box-shadow;
    margin-top: 30px;
    // width: 645px;
    margin-bottom: 60px;
    text-align: center;
    white-space: nowrap;
  }

  .link {
    text-decoration: underline;
    padding-left: 0;
    color: colors.$color-orange;
    font-size: 1.5rem;
    font-weight: 100;
    cursor: pointer;
    display: inline-block;
    margin-left: 20px;
  }

  .link:hover {
    color: colors.$color-orange-light;
  }

  @media (max-width: 698px) {
    .form {
      margin-left: 40px;
      margin-right: 40px;
    }
  }

  @media (max-width: 480px) {
    .form {
      margin-left: 40px;
      margin-right: 40px;
    }
    .register {
      margin-left: 50px;
      margin-right: 50px;
      font-size: 1.3rem;
    }
    .link {
      font-size: 1.2rem;
    }
  }
}
