.registration {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.regtitle {
  color: $color-blue;
  text-align: center;
  padding-bottom: 1.5rem;
}

.label {
  font-size: 1.7rem;
  font-weight: 500;
  color: $color-blue;
}

@media (max-width: 768px) {
  .regtitle {
    font-size: 0.7rem;
  }

  .label {
    font-size: 1rem;
  }
}

@media (max-width: 698px) {
  .form {
    margin-left: 80px;
    margin-right: 80px;
  }
}
