@use "../../utils/css/colors" as colors;
@use "../../utils/css/fonts" as fonts;

.container {
  background-color: colors.$color-white;
  display: flex;
  min-height: 100vh;
  max-width: 100vw;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 2em;
  padding-bottom: 2em;

  .link {
    text-decoration: underline;
    font-size: fonts.$font-small;
    color: colors.$color-btn-text;
    margin-left: 10px;
  }
  .link:hover {
    cursor: pointer;
    color: colors.$color-hover
  }

  @media (max-width: 480px) {
    .header {
      font-size: 3rem;
    }

    .button {
      padding: 5px 10px;
      font-size: 1.5rem;
    }

    .register {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .link {
      font-size: 1.3rem;
      padding-top: 1rem;
    }
  }
}