.button {
  margin: 1rem;
  font-size: 1.3rem;
  padding: 5px 15px;
  border-radius: 8px;
  color: white;
  width: fit-content;
  border: 2px solid rgb(195, 158, 121);
  cursor: pointer;
  background-color: rgb(77, 82, 150);
  padding: 10px;
}
.button:hover {
  background: linear-gradient(
    to right,
    rgb(165, 178, 253) 0%,
    rgb(91, 94, 148) 100%
  );
}
