@use "../../utils/css/colors" as colors;

.button {
  background: colors.$color-btn-primary;
  border: none;
  color: colors.$color-text-primary;
  font-weight: bold;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 3px 5px 10px colors.$color-box-shadow;
  border: 2px solid colors.$color-btn-secondary;
  cursor: pointer;
  transition: all 0.3s ease;

  max-width: 230px;
  width: "100%";

  h1 {
    font-size: 1.2rem;
  }
}

.button:hover {
  box-shadow: 5px 8px 8px colors.$color-box-shadow;
}

.button:focus {
  outline: 3px solid colors.$color-blue-light;
  outline-offset: 3px;
}
