.button {
  background: linear-gradient(90deg, #3c6437, #88ba8a);
  color: white;
  font-size: 1rem;
  padding: 1px 10px;
  border-radius: 8px;
  border: 2px solid rgb(220, 187, 155);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.button:hover {
  background: linear-gradient(90deg, #81c784, #4caf50);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}
