$color-btn-secondary: rgb(243, 201, 160);
$color-btn-primary: rgb(242, 129, 16);
$color-blue: #0c174f;
$color-white: #fcfdff;
$color-blue-light: #394893;
$color-orange: rgb(237, 139, 41);
$color-orange-light: rgb(240, 202, 163);
$color-text-primary: rgb(16, 16, 16);
$color-background-light: rgb(233, 234, 235);
$color-background-xtrlight: rgb(254, 254, 255);
$color-box-shadow: rgba(0, 0, 0, 0.2);
