$color-btn-secondary: rgb(243, 201, 160);

$color-btn-text: rgb(22, 83, 56);
$color-hover: rgb(64, 169, 53);

$color-blue: #0c174f;
$color-blue-light: #394893;
$color-blue-light-light: #e8f1fa;
$color-text-primary:  #071145;

$color-orange: rgb(228, 181, 134);
$color-orange-light: wheat;
$color-background-light: rgb(236, 240, 245);
$color-background-xtrlight: rgb(241, 241, 246);
$color-background-container: #f9f9f9;

$color-white: #ffffff;
$color-box-shadow: rgba(0, 0, 0, 0.2);
//gradient
$color-gradback1: #0c174f;
$color-gradback2: rgba(94, 131, 190, 0.7);
$color-gradback3: rgba(180, 207, 253, 0.95);



