.profilecontainer {
  padding: 20px;
  max-width: 1200px;
  background-color: #f9f9f9;
  border-radius: 15px;
  border: 1px solid #e1d9d1;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  margin: 20px auto;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
  text-align: center;
}

.img {
  border-radius: 50%;
  border: 4px solid rgb(243, 201, 160);
  object-fit: cover;
  margin-bottom: 10px;
}

.details {
  margin: 10px 0 40px 0;
}

.details h2 {
  font-size: 2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 10px;
  color: rgb(12, 23, 79);
}

.details p {
  color: rgb(12, 23, 79);
  font-size: 1.3rem;
  margin: 8px 0;
  color: #555;
}

.link {
  color: rgb(12, 23, 79);
  font-size: 1.3rem;
  margin: 8px 0;
  color: #555;
}

.invitation p {
  color: rgb(12, 23, 79);
  font-size: 1.3rem;
  margin: 8px 0;
  color: #555;
}

.invitation {
  margin-bottom: 1rem;
  gap: 5px;
}

.activity,
.settings {
  width: 75%;
  padding: 10px;
  background-color: rgb(206, 206, 206);
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(6, 6, 6, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.activity i,
.settings h3 {
  color: rgb(12, 23, 79);
  font-size: 1.8rem;
  font-weight: 700;
  padding: 20px 0;
}

.settings,
.activity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.submenu {
  font-size: 2rem;
  padding: 10px 0 30px 0;
}

.button {
  font-size: 1.4rem;
  padding: 12px 20px;
  border-radius: 8px;
  margin-bottom: 24px;
  color: white;
  width: 275px;
  background: linear-gradient(
    to right,
    rgb(139, 155, 247) 0%,
    rgb(77, 82, 150) 100%
  );
  border: 2px solid rgb(195, 158, 121);
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease,
    box-shadow 0.3s ease;
}

.settings {
  margin-top: 20px;
}

.settings h3 {
  margin-bottom: 20px;
}

.footer {
  margin-top: 50px;
  width: 100%;
  text-align: center;
}

@media (max-width: 768px) {
  .container {
    padding: 15px;
  }

  .info {
    flex-direction: column;
    text-align: center;
  }

  .details h2 {
    font-size: 1.5rem;
  }

  .activity,
  .settings {
    width: 100%;
    margin-top: 20px;
    padding: 20px;
  }

  .button {
    width: 80%;
    font-size: 1.1rem;
    padding: 12px;
  }
}
