.pageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 20px;
  color: rgb(12, 23, 79);
}

.mainContent {
  flex-grow: 1;
  max-width: 1200px;
  background: linear-gradient(
    to right,
    rgb(252, 250, 246) 0%,
    rgb(221, 216, 209) 100%
  );
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  border: 1px solid rgb(195, 158, 121);
}

.timerText {
  color: rgb(246, 155, 43);
  font-size: 1.25rem;
  font-weight: 600;
  padding-bottom: 20px;
  padding-right: 20px;
}

.textField {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #f7f7f7;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.buttonWrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;

  .button {
    margin: 1rem;
    font-size: 1.3rem;
    padding: 5px 15px;
    border-radius: 8px;
    color: white;
    width: fit-content;
    border: 2px solid rgb(195, 158, 121);
    cursor: pointer;
    background: linear-gradient(
      to right,
      rgb(139, 155, 247) 0%,
      rgb(77, 82, 150) 100%
    );
    padding: 10px;
  }
  .button:hover {
    background: linear-gradient(
      to right,
      rgb(165, 178, 253) 0%,
      rgb(91, 94, 148) 100%
    );
  }
}
