.pageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    min-height: auto;
    margin-top: 20px;
  }
  
  .mainContent {
    flex-grow: 1;
    max-width: 1200px;
    background: linear-gradient(
      to right,
      rgb(252, 250, 246) 0%,
      rgb(221, 216, 209) 100%
    );
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    border: 1px solid  rgb(195, 158, 121);
  }
  
  .timerText {
    color: rgb(238, 185, 121);
    font-size: 1.25rem;
    font-weight: 600;
  }
  
  .textField {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #f7f7f7;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .buttonWrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  
  .buttonWrapper .MuiButton-root {
    width: 48%;
    font-size: 1rem;
    background-color: rgb(12, 23, 79);
    color: #fff;
  
    &:hover {
      background-color: rgb(44, 59, 128);
    }
  }
  