@use "../../utils/css/colors" as colors;

.pageWrapper {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-top: 20px;
  color: colors.$color-blue;
}

.mainContent {
  flex-grow: 1;
  max-width: 1200px;
  background: linear-gradient(
    to right,
    colors.$color-background-light 0%,
    colors.$color-background-light 100%
  );
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 12px colors.$color-box-shadow;
  border: 1px solid colors.$color-orange-light;
}

.timerText {
  color: colors.$color-orange;
  font-size: 1.25rem;
  font-weight: 600;
  padding-bottom: 20px;
  padding-right: 20px;
}

.textField {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: colors.$color-background-xtrlight;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 8px colors.$color-box-shadow;
}

.buttonWrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
