.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100vw;
  height: 100vh;
  background-color: rgb(12, 23, 79);
  color: white;

  .header {
    margin-bottom: 10px;
  }

  img {
    width: 80%;
    max-width: 400px;
    height: auto;
    margin: 20px 0;
  }

  .button {
    background-color: rgb(2, 87, 2);
    padding: 10px 20px;
    margin-bottom: 50px;
    border: 3px solid rgb(158, 186, 158);
    border-radius: 10px;
    color: white;
    font-size: 1.8rem;

    &:hover {
      background-color: rgb(4, 156, 4);
      cursor: pointer;
    }
  }

  .link {
    text-decoration: underline;
    color: rgb(4, 156, 4);
    cursor: pointer;
    font-size: 1.4rem;
    display: inline-block;
    margin-left: 20px;

    &:hover {
      color: rgb(108, 211, 108);
    }
  }

  @media (min-width: 481px) and (max-width: 768px) {

    .header {
      font-size: 5rem;
    }

    .register {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding-top: 2rem;
    }

    .link {
      font-size: 1.5rem;
      padding-top: 1.3rem;
    }
 
  }

  @media (max-width: 480px) {

    .header {
      font-size: 3rem;
    }

    .button{
      padding: 5px 10px;
      font-size: 1.5rem;
    }

    .register {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .link {
      font-size: 1.3rem;
      padding-top: 1rem;
    }
 
  }
}
