@use "../../utils/css/colors" as colors;
@use "../../utils/css/fonts" as fonts;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100vw;
  height: 100vh;
  background-color: colors.$color-blue;
  color: colors.$color-white;

  .header {
    margin-bottom: 10px;
    font-size: fonts.$font-heading-big;
  }

  img {
    width: 80%;
    max-width: 400px;
    height: auto;
    margin: 20px 0;
  }

  .regcon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
  }

  .register {
    font-size: fonts.$font-medium;
  }

  .link {
    text-decoration: underline;
    color: colors.$color-orange;
    cursor: pointer;
    font-size: fonts.$font-medium;
    display: inline-block;
    margin-left: 30px;

    &:hover {
      color: colors.$color-orange-light;
    }
  }

  .flags {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
  }

  .flagname {
    padding: 6px 10px 6px 2px;
    font-size: fonts.$font-small;
    outline: none;
    margin-left: 20px;
    background-color: colors.$color-blue;
    color: colors.$color-white;
    border-radius: 5px;
    cursor: pointer;
  }

  .flagname:focus {
    outline: 3px solid rgb(57, 112, 207);
    outline-offset: 3px;
  }

  .flag {
    width: 40px;
    height: 30px;
    margin-left: 20px;
  }

  @media (max-width: 480px) {
    .header {
      font-size: fonts.$font-big;
    }
    .button {
      padding: 5px 10px;
      font-size: fonts.$font-medium;
    }
    .regcon {
      flex-direction: column;
    }
    .link {
      font-size: fonts.$font-small;
      padding-top: 1rem;
      margin-right: 30px;
    }
  }
}
