.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to right,
    rgb(12, 23, 79) 10%,
    rgb(44, 59, 128) 55%,
    rgb(171, 147, 112) 100%
  );
  width: 100%;
  padding: 5px 0;
  z-index: 1000;
  transition: all 0.3s ease-in-out;

  .center {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    list-style: none;

    .links {
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      color: white;
      transition: background-color 0.3s ease-in-out;
      border-radius: 4px;

      .icon {
        padding-right: 10px;
      }

      &:hover {
        background-color: rgba(243, 243, 243, 0.1);
      }

      .title{
        font-size: 1.5rem;
      }
    }
  }

  .img {
    margin-top: 5px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 3px solid rgb(108, 78, 32);
    padding: 1px;
    background-color: rgb(187, 159, 131);
  }

  @media (max-width: 800px) {
    .title {
      font-size: 1.3rem;
    }
  }

}
