@use "../../utils/css/colors" as colors;
@use "../../utils/css/fonts" as fonts;

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to right,
    colors.$color-blue 10%,
    colors.$color-blue-light 55%,
    colors.$color-blue 100%
  );
  width: 100%;
  padding: 5px 0;
  z-index: 1000;
  transition: all 0.3s ease-in-out;

  .center {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    list-style: none;

    .links {
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      color: colors.$color-white;
      transition: colors.$color-background-light 0.3s ease-in-out;
      border-radius: 4px;

      .icon {
        padding-right: 10px;
      }

      &:hover {
        background-color: colors.$color-blue-light;
      }

      .title {
        font-size: fonts.$font-medium;
      }
    }
  }

  .img {
    margin-top: 5px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 3px solid colors.$color-orange;
    padding: 1px;
    background-color: colors.$color-white;
  }

  @media (max-width: 800px) {
    .title {
      font-size: fonts.$font-xsmall;
    }

    .img{
      display: none;
    }

    .links{
      padding-left: 20px;
    }
  }
}
